.quota {
    margin: 10px 0 10px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 12px 18px;
    &_wrapper {
        display: flex;
        flex-direction: column;
    }
    &_head {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &_stats {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &_info {
            display: flex;
            flex-direction: column;
            &_sold, &_quota {
                display: flex;
            }
            &_sold_text, &_quota_text {
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                margin-right: 5px;
            }
            &_sold_number {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #34C759;
            }
            &_quota_number {
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #5856D6;
            }
            &_indicator {
                height: 10px;
                width: 160px;
                position: relative;
                background: #5856D6;
                border-radius: 10px;
                overflow: hidden;
                margin-top: 5px;
                &_sale {
                    //width: 30%;
                    height: 10px;
                    background: #34C759;
                    position: absolute;
                }
            }
        }
        &_total {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            &_text {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-align: right;
                color: #000000;
            }
            &_number {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                text-align: right;
                color: #000000;
            }
        }
    }
    &_title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 30px;
    }
    &_status {
        background: #2962E3;
        color: #FFFFFF;
        border-radius: 10px;
        width: 83px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
    &_prices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &_price {
            display: flex;
            
            &_text {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-align: right;
                color: #000000;
                margin-right: 5px;
            }
            &_number {
                font-weight: 600;
                font-size: 12px;
                line-height: 14px;
                text-align: right;
                color: #000000;
            }
        }
    }
}