:root {
  --page-animation: .3s ease;
}

.checkout-step .order-mode_selected {
  max-height: 0 !important;
  opacity: 0 !important;
  padding: 0;
}

.checkout-step .order-mode_checkout {
  height: 100%;
  opacity: 1 !important;
}

.checkout-step .order-mode_contact {
  opacity: 0 !important;
  height: 100%;
  max-height: 100vh !important;
}

.contact-step .order-mode_selected {
  max-height: 0 !important;
  opacity: 0 !important;
  padding: 0;
}

.contact-step .order-mode_checkout {
  max-height: 0 !important;
  opacity: 0 !important;
  padding: 0;
}

.contact-step .order-mode_contact {
  height: 100%;
  max-height: 100vh !important;
  opacity: 1 !important;
}

.order-mode {
  padding-top: 75px;
  position: fixed;
  height: 100%;
  width: 100%;
}

.order-mode_selected {
  transition: max-height var(--page-animation), opacity var(--page-animation);
  max-height: 100vh;
  height: 100%;
}

.order-mode_checkout {
  transition: max-height var(--page-animation), opacity var(--page-animation);
  max-height: 100vh;
  height: 100%;
  opacity: 0;
}

.order-mode_contact {
  transition: max-height var(--page-animation), opacity var(--page-animation);
  max-height: 0vh;
  opacity: 0;
}
